# Environment / secrets
.env

# Database files
*.db
*.sqlite
*.sqlite3

# Jupyter checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# WSL

*.Identifier